security:
    hashAlgorithm: SHA3
    level: 256
    confidentialityProtocolVersion: 1.2
    privacy: true

chaincode:
    golang:
        # for deploy
        Dockerfile:  |
            from hyperledger/fabric-ccenv
            COPY src $GOPATH/src
            WORKDIR $GOPATH
###############################################################################
mbsrvc:
    address: 127.0.0.1:7054
###############################################################################
peer:
    address: 127.0.0.1:3000
###############################################################################
# sdklog
###############################################################################
sdklogging:
    # critical | error | warning | notice | info | debug
    default: debug
    golang: debug
    db: debug
    api: debug
###############################################################################
# db
###############################################################################	
db:
    driverName: mysql
    dataSourceName: root:root@tcp(121.42.49.127:3306)/test_golangsdk_db?charset=utf8
###############################################################################
# rest
###############################################################################
rest:
    net1: 127.0.0.1:7000
    net2: 127.0.0.1:7001
    net3: 127.0.0.1:7002
    net4: 127.0.0.1:7003
